<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554219178174-f621hb7kihh9q1gj8vma3b8420pmtabr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554219178174-f621hb7kihh9q1gj8vma3b8420pmtabr</string>
	<key>API_KEY</key>
	<string>AIzaSyDMqiesSHoBmF-5bDs2KzwRcBtm-GX-bAw</string>
	<key>GCM_SENDER_ID</key>
	<string>554219178174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gpMobile</string>
	<key>PROJECT_ID</key>
	<string>gpmobileapp-f23f2</string>
	<key>STORAGE_BUCKET</key>
	<string>gpmobileapp-f23f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554219178174:ios:c6ce0c95fdec005120b6ef</string>
</dict>
</plist>